// @import 'scss/mixin';
$colorBlue: #2D89E6;
$colorWhite: #FFFFFF;
$colorGray: #C3C3C3;
$fontSego: Segoe UI;

@mixin flexDisplay($display, $flex-direction) {
    display: $display;
    flex-direction: $flex-direction;
}

@mixin flexDisplayContent($display, $justify-content) {
    display: $display;
    justify-content: $justify-content;
}

@mixin textStyle($font-size, $font-family, $color) {
    font-size: $font-size;
    font-family: $font-family;
    color: $color;
}
@mixin position($width, $height) {
    width: $width;
    height: $height;
}

* {
box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.root {
 width: 100%;
}

.header {
    @include position(100%, 76px);
    background-color: $colorBlue;

    b {
        @include flexDisplayContent(flex, center);
        @include textStyle(22px, $fontSego, $colorWhite);
        margin: 0px;
        text-align: center;
        padding-top: 20px;
    }
}

.content {
    width: 100%;
    display: flex;

    .left-content {
        @include flexDisplay(flex, column);
        margin: 30px 0px 0px 80px;;
        border: 1px solid $colorGray;
        border-radius: 25px;
        width: 350px;

        .memberHeader b {
            @include flexDisplayContent(flex, center);
            @include textStyle(17px, $fontSego, #707070);
            margin: 20px;
        }
        
        .memberInfo input, select, #biography {
            @include textStyle(14px, $fontSego, #AEAEAE);
            margin: 5px 10px 5px 10px;
            border: 1px solid $colorGray;
            border-radius: 13px;
            padding: 15px;
        }

        .select {
            @include position(325px, 49px);
            background-color: #FFFFFF;
            -webkit-appearance: none;
            -moz-appearance: none; 
            appearance: none;
            background-image: url("../images/arrow.png");
        }

        #name, #email {
            width: 324px;
        }
        
        #biography {
            resize: none;
        }
        
        .inputs {
            font-size: 13px;
            padding-top: 15px;

            input {
                margin-left: 25px;
                margin-bottom: 50px;
                border: 1px solid $colorGray;
            }
        }
        
        .saveButton button {
            @include textStyle(17px, $fontSego, $colorWhite);
            @include position(100%, 60px);
            background-color: $colorBlue;
            border: none;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        
        }
    }

    .rightContent {
        @include flexDisplay(flex, column);
        margin-left: 15px;
        background: #F6F6F6;
        width: 60%;
        overflow: auto;

        .rightContentHeader {
            @include flexDisplay(flex, row);
            margin: 50px 0px 50px 0px;
            justify-content: space-between;

            .search {
                background: $colorBlue;
                width: 70%;
                @include flexDisplay(flex, row);
                justify-content:space-around;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;  
                align-items: center;

                p {
                    @include textStyle(13px, $fontSego, $colorWhite);
                }

                select, input {
                    @include textStyle(10px, $fontSego, #8B8B8B);
                    border-radius: 9px;
                    border: none;
                }
                
                .sort {
                    @include position(50px, 20px);
                }

                .filter {
                    padding: 5px 10px;
                    border-right: 1px solid $colorWhite;
                    border-left: 1px solid $colorWhite;

                    select{
                        @include position(81px, 20px);
                    }
                }
                
                #search {
                    @include position(186px, 21px);
                    border-radius: 4px;
                }
            }

            .noOfItems {
                background-color: $colorBlue;
                border-bottom-left-radius: 22px;
                border-top-left-radius: 22px;
                width: 89px;
                padding-left: 15px;

                p {
                    @include textStyle(13px, $fontSego, $colorWhite);
                }
            }
        }
        
        .rightContentCards {
            @include flexDisplay(flex, row);
            height: 130px;
            overflow: hidden;

            .deleteIcon img {
               padding-top: 44px;
                width: 38px;
            }
            
            .cardContent {
                padding: 10px;
                font-family: $fontSego;

                #memberName {
                    font-size: 22px;  
                }

                #details {
                    font-size: 14px;
                    color: $colorBlue;
                }

                p {
                    color: #6A6A6A;
                    font-size: 14px;
                    margin: 5px;
                }
            }
        }
    }
}